@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

#root {
  --primary: #161616;
  --secondary: #989898;
  --tertiary: #bbbbbb ;
  
  --font-x-large: 48px;
  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 14px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-something: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body, button, input, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}